<header>
  <input type="checkbox" name="" id="toggler" (click)="toggleNavbar()">
  <label for="toggler" class="fas fa-bars"></label>

  <div class="logo-image">
    <img src="assets/heart.jpg" alt="" height="50">
    <a href="#" class="logo" style="color: #4d79ff;"><span></span> Hospital Management</a>
  </div>

  <nav class="navbar" [ngClass]="{ 'active': navbarActive }">
    <a class="btn" href="#home">Home</a>
    <a class="btn" href="/about">About</a>
    <a class="btn" href="/department">Departments</a>
    <a class="btn" href="/emergency">Emergency</a>
    <a class="btn" href="/contact">Contact</a>
  </nav>
</header>
