<app-navbar></app-navbar>
<br>
<br>
<br>
<h1 style="font-weight: bolder; color: blue;">Registered Patients</h1>


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of rp">
            <div class="card col-md-3" style="height: 22rem;width: 16rem;  "  >
                <img src="/assets/boy (1).png" alt=" "  style="border-radius: 50%;">
               
                <p style="text-align: center;" ><span style="font-weight: bold;">Patient Name:</span>{{item.patientName}}</p>
                <p style="text-align: center;"><span style="font-weight: bold;">Username:</span>{{item.patientusername}}</p>
                <p style="text-align: center;"><span style="font-weight: bold;">Email:</span>{{item.patientemail}} </p>
           
            </div>
        </ng-container>

    </div>
</div>
