<app-navbar></app-navbar>
<br><br>
<br>


<section class="home" id="home">

     <div class="container">
   
    <div class="row min-vh-100 align-items-center text-center text-md-left">
    <div class="col-md-6 pr-md-5">
    <img src="assets/doctor.jpg" width="100%" alt="">
    </div>
    <div class=" col-md-6 pl-md-5 content">
        <img src="assets/admin.jpg" routerLink="/login" alt=" " style="width:150px">
       
        <img src="assets/public.jpg" routerLink="/doctorsignin"  alt=" " style="width:150px">
        <img src="assets/w.jpg" alt=" " routerLink="/pateintsignin" style="width:150px">
        <p></p>
        <p></p>
    <h3 style="font-size: 30px;">caring for you.</h3>
    <h1><span>stay</span> safe, <span>stay</span> healthy.</h1> 
  
    </div>
    </div>
     </div>


     <div class="card col-md-6 pl-md-5" >
       
        <p></p>
 
    </div>
     </section>