<div mat-dialog-title>
    <h1>Patient Form</h1>
</div>
<form [formGroup]="patientsForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            
            <mat-form-field appearance="outline">
                <mat-label>Patient ID</mat-label>
                <input matInput type="text" formControlName="patient_id">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Patient Name</mat-label>
                <input matInput type="text" formControlName="patient_name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="mobile">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctor_name">
                    <mat-option *ngFor="let val of allDoctors" [value]="val.name">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            

            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>


            <mat-form-field appearance="outline">
                <mat-label>Admission Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="admission_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

           

           
        </div>
        
       
        </div>
    
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>


